
.clear {
    clear: both;
    width: 100%;
    overflow: hidden;
    height: 20px
}
.clearblank {
    clear: both;
    width: 100%;
    overflow: hidden;
}
.fl {
    float: left!important;
}
.fr {
    float: right!important;
}
.box, article {
    width: 1200px;
    margin: auto;
    overflow: hidden
}
.navbox {
    width: 1200px;
    margin: auto;
}
.mt20 {
    margin-top: 20px;
}
.blue {
    color: #00C1DE
}

.tab_buttons {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;

}
.tab_buttons li {
    display: block;
    font-size: 16px;
    line-height: 40px;
    float: left;
    width: 100px;
    text-align: center;
    position: relative;
    cursor:pointer
}
.newscurrent:after {
    content: "";
    background: #000;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: 0; left: 0;
}
.newsitem {
    display: none;
}
.newsitem:nth-child(1) {
    display: block;
}
/*tab_box*/
.whitebg {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.tab_box {
    clear: both;
    position: relative;
}
/*htitle*/
.htitle {
    font-size: 16px;
    line-height: 40px;
    color: #484848;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
}
.htitle:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    content: "";
    background: #000;
    left: 0;
    bottom: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.htitle:hover:after {
    width: 80px;
}
.hnav {
    float: right
}
.hnav a {
    display: block;
    margin-right: 10px;
    padding-right: 10px;
    float: left;
    position: relative
}
.hnav a:after {
    position: relative;
    content: "/";
    right: -10px;
    bottom: 0;
    color: #ccc
}
.hnav a:last-child::after {
    content: ""
}

.gbox input[type="submit"] {
    display: block;
    background: #303030;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}
#plpost textarea#saytext {
    width: 100%;
}
#plpost input[type="submit"] {
    display: block;
    background: #040404;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}
.gbox {
    padding: 0;
    overflow: hidden;
}
.gbox p {
    margin-bottom: 10px;
    overflow: hidden;
}
p.fbtime {
    color: #000;
}
.fbtime span {
    float: right;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
}
p.fbinfo {
    margin: 10px 0;
}
.fb ul {
    margin: 10px 0;
    padding: 20px 10px;
}
span.tximg {
    display: block;
    float: left;
    margin-right: 10px;
}
.gbox i {
    display: block;
    float: left;
    margin-right: 10px;
}
.gbox i input {
    margin: 10px auto;
    display: block;
}
.hf ul {
    padding: 10px 10px;
    background: #f9f9f9;
}
.hf {
    padding-bottom: 20px;
}
textarea#lytext {
    width: 99%;
}

article{
    margin-top: 20px;
}