/*---------------------------------2019/5/13 9:33------------------------------------*/
body{
    background:#E9EAED;
}

/*-------------------------------2019/5/14 15:03------------aboutMe----------------------*/
.interface{
    width: 1160px;
    height: 550px;
    margin:auto;
    padding: 20px 40px;
    background: #FFF;
    margin-top: 20px;
    border-radius: 5px;
}

.topBox{
    width: 990px;
    height: 150px;
    float: left;
    display: inline-block;
    margin-bottom: 30px;
}
.topBox h4{
    font-size: 20px;
    font-family: 宋体;
    margin: 10px;
}
.topBox>li{
    font-size:15px ;
    margin: 10px;
    font-family: 宋体;
    list-style: none;
    display: block;

}
.topBox .TX{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}



.bottomBox{
    width: 990px;
    height: 150px;
    float: left;
    display:inline-block;

}
.bottomBox h3, p{
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;

}

/*-------------------------------------navigation------------------------------------------*/
.con{
    width: 1240px;
    height: 530px;
    margin:0 auto;
    background: #FFF;
    margin-top: 20px;
    border-radius: 5px;
}

.conTop{
    width: 1160px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
}
.conTop >h3{
    border-bottom: 1px solid #e3e3e3;
    margin: 5px;
}

.conMid{
    width: 1200px;
    height: 30px;
    background:#E9EAED ;
}
.conBottom{
    width: 1160px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
}
.conBottom >h3{
    border-bottom: 1px solid #e3e3e3;
    margin: 5px;
}
/*------------------------------time-------------2019.5.15 21:09-*/

ul span{
    line-height: 32px;
    padding-right: 40px;
    color: #999;
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    position: relative;
}
ul span:after{
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background: #e0dfdf;
    right: 18px;
}
.interface li{
    padding-top: 10px;
}
.interface li a{
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: black;
    position: relative;

}
.interface li a:before{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    border: 2px solid white;
    box-shadow: 0px 0px 2px black;
    content: "";
    left:-25px;
    top:4px;
    position: absolute;
}

.interface li:hover>:before{
    background: black;
}
.page{
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 100px;
}
.page div{
    text-align: center;
}
.page a{
    float: left;
    background:#E9EAED;
    color: #666;
    text-align: center;
    left: 0px;
    right: 0px;
    padding: 5px;
    margin-right: 20px;
}
.page div a:hover{
    background: black;
    color: white;
}
/******************************2019/5/16****************************************/

.gr{
    width: 1200px;
    height: 100%;
    margin: auto;


}
.gr .rightone{
    height: auto;
    margin-top: 10px;
}
.gr .righttwo{
    height: auto;
}
.gr .rightfour{
    height: auto;
}
.grliftone{
    margin-top: 20px;
    width: 860px;

    padding: 20px;
    background: white;
}
.grliftone img{
    width: 120px;
    height: 100px;
    margin-right: 20px;
    float: left;
}
.grliftone h2{
    margin-bottom: 20px;
}
.gr .liftlast{
    float: left;
}
.rightone{
    overflow: hidden;
}
.biaoqian ul a{
    display: block;
    line-height: 24px;
    float: left;
    padding: 3px 10px;
    margin: 10px 5px 0 0;
    background: black;
}
.biaoqian ul a:nth-child(1){
    background: #036564;
}
.biaoqian ul a:nth-child(2){
    background: #EB6841;
}
.biaoqian ul a:nth-child(3){
    background: #3FB8AF;
}
.biaoqian ul a:nth-child(4){
    background: #FE4365;
}
.biaoqian ul a:nth-child(5){
    background: #FE4365;
}
.biaoqian ul a:nth-child(6){
    background: #FC9D9A;
}
.biaoqian ul a:nth-child(7){
    background: #EDC951;
}
.biaoqian ul a:nth-child(8){
    background: #C8C8A9;
}
.biaoqian ul a:nth-child(9){
    background: #83AF9B;
}
.biaoqian ul a:nth-child(10){
    background: #8A9B0F;
}
.biaoqian ul a:nth-child(11){
    background: #EB6841;
}
.biaoqian ul a:nth-child(12){
    background: #3FB8AF;
}
.biaoqian ul a:nth-child(13){
    background: #FE4365;
}
.biaoqian ul a:nth-child(14){
    background: #FC9D9A;
}
.biaoqian ul a:nth-child(15){
    background: #EDC951;
}
.biaoqian ul a:nth-child(16){
    background: #3299BB;
}
.biaoqian ul a:hover{
    text-shadow:1px 1px 1px #000;
}

/********************************************/
.liftlast{
    width: 860px;

    margin-top: 20px;
    padding: 20px;
    background: white;
}
.liftlastbox{
    height: 200px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.liftlastbox h3 a{
    color: black;
}
.liftlastbox h3 a:hover{
    color: mediumaquamarine;
}

.liftlastboximg {
    width: 200px;
    height: 124px;
    margin-top: 14px;
    float: left;
}
.liftlastboxl{
    width: 610px;
    height: 100px;
    padding: 20px;
    float: left;
}
.liftlastboxshe{
    width: 80px;
    height: 25px;
    background: mediumaquamarine;
    display: block;
    margin-top: 40px;
    margin-left: 400px;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
}

.right{
    float: right;
    width: 280px;

}
.rightone{
    width: 240px;
    height: 472px;
    background: white;
    margin-bottom: 20px;
    padding: 20px;
}
.rightone  .titleBut ul li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rightoneti{
    position: relative;
}
.rightoneimg{
    width: 240px;
    height: 110px;
    margin-bottom: 20px;
    filter: brightness(75%);
}
.rightoneimg:hover{
    filter: brightness(100%);

}
.rightone .titleBut ul{
    position: relative;
}
.rightone .titleBut ul li{
    padding-left: 30px;
}
.rightone .titleBut ul li::before{
    content: "";
    width: 16px;
    height: 16px;
    top: 13px;
    left: 7px;
    background: #FF6600;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 10px;
}
.rightone .titleBut ul li:first-child:before{
    content: "1";

}
.rightone .titleBut ul li:nth-child(2):before{
    content: "2";

}
.rightone .titleBut ul li:nth-child(3):before{
    content: "3";


}
.rightone .titleBut ul li:nth-child(4):before{
    content: "4";
    background: #89919a;
}
.rightone .titleBut ul li:nth-child(5):before{
    content: "5";
    background: #89919a;
}


.righttwo{
    width: 240px;
    height: 690px;
    background: white;
    margin-bottom: 20px;
    padding: 20px;
}
.righttwobox{
    height: 60px;
    margin-bottom: 20px;
}
.righttwoimg{
    width: 70px;
    height: 60px;
    float: left;
    margin-right: 10px;
}
.righttwoimgg{
    position: relative;
}
.righttwoimgg .op{
    color: white;
}

.righttwo p{
    display: block;
    width: 140px;
    height: 40px;
    float: left;
    padding-top: 10px;
    font-size: 14px;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.rightthree{
    width: 240px;
    height: 172px;
    background: white;
    margin-bottom: 20px;
    padding: 20px;

}
.rightthree a {
    overflow: hidden;
    width: 240px;
    height: 172px;
    display: block;
}
.rightthree a img{
    width: 240px;
    height: 172px;

}
.rightthree a img:hover{
    transform: scale(1.2);
}
.rightfour{
    width: 240px;
    height: 506px;
    background: white;
    margin-bottom: 20px;
    padding: 20px;

}
.rightfour  .titleBut ul li::before{
    content: '';
    border-radius: 50%;
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 18px;
    left: 10px;
}
.rightfour .titleBut ul li{
    height: auto;
}

.rightsix{
    width: 240px;
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 15px;
}
.rightsix ul{
    line-height:2;
}
.rightsix ul a{
    color: mediumaquamarine;
}
.rightsix img{
    width: 193px;
    height: 193px;
    padding-top: 10px;
    padding-left: 23px;
}
.rightseven{
    width: 240px;
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}
.topp{
    content: "";
    width: 40px;
    height: 40px;
    z-index: 6;
    position: fixed;
    right: 20px;
    bottom: 10%;
    font-size: 14px;
    background: black;

}
.topp a{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}